<div class="content">
	<div class="head_tag">
		<h2>Kendo Ui Tab Example</h2>
	</div>
	<kendo-tabstrip>

       <kendo-tabstrip-tab [title]=tab.title [selected]=tab.status *ngFor="let tab of tabs; let i=index" >
       <template kendoTabContent>
                  <app-child></app-child>
                  <div>{{tab.tabData}}</div>
            </template>
       </kendo-tabstrip-tab>

     </kendo-tabstrip>
</div>