/* You can add global styles to this file, and also import other style files */
@import "~@telerik/kendo-theme-default/styles/packages/all";
body{
	background: #f2f2f2;
	.k-content{
		margin: 0;
	}
}
.content{
	width:50%;
	display:table;
	margin:0 auto;
	h2{
		text-align: center;
	}
}
.k-link{
	font-size: 18px;
}
.weather{
	font-size: 20px;
}
.k-tabstrip > .k-content.k-state-active{
	margin: 0;
}